@use "../../styles/colors.scss";

body,
html {
  height: 100vh;
  margin: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  user-select: none;
  cursor: default;
}

a {
  cursor: pointer;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.auth-box {
  background-color: var(--tile-color);
  box-shadow: 0 0px 25px var(--shadow-color),
    inset 0 0px 25px var(--shadow-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 50px 25px;
  border-radius: 25px;

  max-width: 700px;
  width: 90vw;

  text-align: center;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
}

.auth-title {
  margin: 25px 0 50px;
  font-weight: 100;
}

.auth-input {
  width: 100%;

  margin: 0.5rem auto;
  padding: 0.8rem;
  box-sizing: border-box;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;

  background-color: var(--input-field-color);
  color: var(--text-color);
}

.auth-error {
  color: red;
  font-size: 0.8rem;
  margin: 0.2rem 0;
  text-align: left;
}

.auth-button {
  width: 100%;

  margin: 1rem auto;
  padding: 15px;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;
  box-sizing: border-box;

  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 1.1rem;
}

.auth-button:hover {
  background-color: var(--input-border-color);
  color: var(--background-color);

  cursor: pointer;
}

.auth-oauth-button {
  margin-top: 0;
  padding: 10px;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;
  box-sizing: border-box;

  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 1.1rem;
}

.auth-oauth-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 25px;
  color: var(--text-color);
  fill: var(--text-color);
}

// Phone View
@media screen and (max-width: 767px) {
  .auth-box {
    width: 80vw;
  }
}

// Tablet View
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .auth-box {
    width: 60vw;
  }
}

// Desktop View
@media screen and (min-width: 1024px) {
  .auth-box {
    width: 50vw;
    max-width: 550px;
  }
}
