<configuration>
  <system.webServer>

    <httpErrors errorMode="Detailed" />
    <handlers>
      <add name="iisnode" path="shared/server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="Nodejs" stopProcessing="true">
          <match url="^(?!.*\.|\/api\/|\/public\/).*$" />
           <conditions logicalGrouping="MatchAll">
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <defaultDocument enabled="false" />

  </system.webServer>
</configuration>
