// Import colors.scss to use the variables
@import "./colors.scss";

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
}

.left-bottom-rectangle {
  background-color: var(--left-bottom-rectangle);
  opacity: 0.8;

  height: 90vh;
  width: 10vw;
  position: fixed;
  bottom: -5vh;
  left: -2vw;

  z-index: -1;

  filter: blur(100px);
}

.left-top-rectangle {
  background-color: var(--left-top-rectangle);
  opacity: 0.5;

  height: 50vh;
  width: 20vw;
  position: fixed;
  top: -10vh;
  left: 10vw;

  z-index: -1;

  filter: blur(100px);
}

.middle-bottom-circle {
  background-color: var(--middle-bottom-circle);
  opacity: 0.7;

  border-radius: 50%;

  height: 40vw;
  width: 40vw;
  position: fixed;
  bottom: 0vh;
  left: 40vw;

  z-index: -1;

  filter: blur(100px);
}

.right-top-circle {
  background-color: var(--right-top-circle);
  opacity: 0.9;

  border-radius: 50%;

  height: 90vw;
  width: 90vw;
  position: fixed;
  top: -40vw;
  right: -40vw;

  z-index: -1;

  filter: blur(100px);
}

.background-shapes {
  z-index: -1;

  position: fixed;
  width: 100vw;
  height: 100vh;
}
