// LIGHT MODE
:root {
  --background-color: #d9d9d9;
  --text-color: #2a2a2a;
  --tile-color: rgba(217, 217, 217, 0.5);
  //   --tile-color: rgba(42, 42, 42, 0.5);
}

// DARK MODE
[data-theme="dark"] {
  --background-color: #2a2a2a;
  --text-color: #ffffff;
  --tile-color: rgba(42, 42, 42, 0.8);
  //   --tile-color: rgba(217, 217, 217, 0.5);
}
