@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Inter:wght@400&family=Work+Sans:wght@400&display=swap");

// Mixins for reusable styles
@mixin glassmorphic-background {
  background-color: var(--tile-color);
  box-shadow: 0 0px 25px var(--shadow-color),
    inset 0 0px 25px var(--shadow-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@font-face {
  font-family: "Blanka";
  src: url(../fonts/Blanka-Regular.otf) format("opentype"),
    url("../fonts/Blanka-Regular.woff2") format("woff2"),
    url("../fonts/Blanka-Regular.woff") format("woff");
}

:root {
  --font-headings: "IBM Plex Mono", monospace;
  --font-body: "Work Sans", sans-serif;
  --font-interactive: "Inter", sans-serif;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

%base-font {
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  @extend %base-font;
}

p,
label,
input,
textarea,
ul,
ol {
  font-family: var(--font-body);
  font-size: small;
  @extend %base-font;
}

a,
button,
label {
  font-family: var(--font-interactive);
  text-decoration: none;
  @extend %base-font;
}

%block-style {
  display: block;
  width: 90%;
  font-size: small;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
}

code {
  @extend %block-style;
  font-family: var(--font-headings);
  background-color: var(--background-color);
  overflow-x: auto;
}

blockquote {
  @extend %block-style;
  font-family: var(--font-body);
  font-style: italic;
  background-color: var(--tile-color);
  border-left: 5px solid var(--input-border-color);
  border-radius: 5px;
}

.summarizz-logo {
  font-family: "Blanka";
  user-select: none;
  color: var(--text-color);
}

.main-content {
  width: 90vw;
  margin: 0 auto;
  padding-top: 120px;
  flex: 1;
}

.error-message {
  color: red;
  margin: 2rem auto 0;
}

.content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* Adjust the gap between items */
}
