@use "colors.scss";

.navbar-background {
  background-color: var(--tile-color);

  border-radius: 25px;

  box-shadow: 0 0px 25px var(--shadow-color),
    inset 0 0px 25px var(--shadow-color);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  height: 80px;
  width: 90vw;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;

  margin: 10px 5vw;

  z-index: 1;
}

.navbar-title {
  font-size: 20px;
  margin: 25px 30px 25px 40px;
  cursor: pointer;
}

.navbar-menu {
  display: inline-block;
  position: absolute;
  right: 90px;
  top: 30px;
  cursor: pointer;
}

.navbar-menu-item {
  display: inline-block;
  margin: 0 5px;
}

// THEME TOGGLE
.theme-toggle {
  display: inline-block;
  width: 50px;
  height: 26px;
  position: absolute;
  right: 27px;
  top: 27px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
  background-color: var(--background-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
