@use "colors.scss";
@use "global.scss";

@mixin absolute-positioned {
  position: absolute;
  right: 30px;
  top: 30px;
}

:root {
  --profile-size: 50px;
  --navbar-height: 80px;
  --navbar-margin: 10px 5vw;
}

.navbar {
  display: flex;

  &-background {
    @include global.glassmorphic-background;
    border-radius: 25px;
    height: var(--navbar-height);
    width: 90vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: var(--navbar-margin);
    z-index: 2;
    display: flex;
  }

  &-auth {
    display: flex;
    @include absolute-positioned;
    gap: 10px;
  }

  &-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
  }

  &-title {
    font-size: 20px;
    margin: 24px 30px 25px 30px;
    display: inline-block;
    cursor: pointer;
  }

  &-menu {
    display: inline-block;
    position: absolute;
    right: 90px;
    top: 30px;

    &-item {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
  }

  &-button {
    margin-top: 22px;
    padding: 8px;
    right: 80px;
    position: absolute;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: var(--input-border-color);
      color: var(--background-color);
    }
  }
}
.profile {
  &-picture {
    &-container {
      width: var(--profile-size);
      height: var(--profile-size);
      border-radius: 50%;
      margin: 15px 20px;
      display: flex;
      background-color: var(--background-color);
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.no-profile-picture-container {
  width: var(--profile-size);
  height: var(--profile-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--background-color);
}

.-no-profile-picture {
  font-size: 20px;
  color: var(--text-color);
  margin: 0;
  user-select: none;
  padding: 0;
}

.menu {
  @include global.glassmorphic-background;
  border-radius: 25px;
  position: fixed;
  top: 90px;
  right: 0;
  padding: 10px 30px;
  margin: var(--navbar-margin);
  z-index: 2;
  min-width: 150px;

  &-item {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
  }
}

.theme-toggle {
  @mixin toggle-base {
    display: inline-block;
    width: 25px;
    height: 15px;
    position: absolute;
  }

  @mixin slider-base {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 17px;
    background-color: var(--background-color);
  }

  @mixin slider-before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  &,
  &-auth {
    @include toggle-base;
    right: 15px;
    bottom: 10px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &-auth {
    right: 0;
    top: 2px;
  }

  .slider,
  .slider-auth {
    @include slider-base;

    &:before {
      @include slider-before;
    }
  }

  input:checked + .slider:before,
  input:checked + .slider-auth:before {
    transform: translateX(10px);
  }
}

.padding-right {
  padding-right: 40px;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  align-items: center;
  align-self: center;
  height: 3rem;
  position: relative;
}

.searchBar {
  max-height: 1rem;
  background: var(--tile-color);
  color: var(--text-color);
  border: none;
  border-top-left-radius: 5px;
  padding: 1rem;
  margin-right: 0;
  width: 250px;
}

.searchButton {
  height: 100%;
  background-color: var(--tile-color);
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.searchButton > * {
  width: 1.5rem;
  color: var(--text-color);
}

.nav-searchResults {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 2;
}

.navbar-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}
