.summarizz-pro-tag {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0 auto;
  background-color: var(--background-color);
  position: relative;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  font-family: var(--font-body);
  font-weight: 800;
  width: 60px;
  top: -40;
  left: 130;
}

.summarizz-logo-pro {
  font-size: 3rem;
}

.summarizz-pro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 768px) {
  .summarizz-pro-tag {
    font-size: 13px;
    width: 50px;
    top: -30;
    left: 110;
  }
}
