.profile-banner {
  display: flex;
}

.profile-banner-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--tile-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-initial {
  font-size: 100px;
  color: var(--text-color);
  margin: 0;
  user-select: none;
}

.profile-banner-info {
  margin-left: 20px;
}

/* Username and follow button container */
.username-follow {
  display: inline-flex; /* Align username and icon horizontally */
  align-items: center;
  gap: 5px; /* Space between username and icon */
}

/* Follow button styles */
.icon-button.follow {
  padding: 0;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer; /* Ensure pointer cursor */
}

/* Follow icon styles */
.icon.follow {
  width: 16px; /* Match other icons */
  height: 16px; /* Match other icons */
  color: #7D7F7C; /* Default gray */
}

.icon.follow.following {
  color: black; /* Black when following */
}

.section-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 10px;
}

.content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* Adjust the gap between items */
}

.content-list-item {
  padding: 20px;

  border-radius: 20px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;
  box-sizing: border-box;

  background-color: var(--tile-color);
  color: var(--text-color);

  font-size: 1.1rem;
}

.content-item-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.content-list-item:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

.content-thumbnail-container {
  overflow: hidden;
  border-radius: 10px;
}

.content-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s;
}

.content-thumbnail:hover {
  // Zoom image on hover
  transform: scale(1.1);
}

.icon-button {
  padding: 0;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 1px;
}

.icon {
  width: 16px;  /* Or whatever size you want */
  height: 16px;
  color: var(--icon-color); /* Use CSS variables if you have them */
  transition: all ease-out 0.3s;
}

.icon:hover {
  color: var(--icon-hover-color);
}

/* Specific style for the delete icon's hover state */
.icon.delete:hover {
  color: var(--delete-hover-color); /* Use a specific variable for delete hover */
}

// media queries
@media screen and (max-width: 1024px) {
  .content-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .content-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-banner {
    flex-direction: column;
  }

  .profile-banner-info {
    margin-left: 0;
  }
}
