/* Profile Management Page Styles */

// Mixins for reusable styles
@mixin glassmorphic-background {
  background-color: var(--tile-color);
  box-shadow: 0 0px 25px var(--shadow-color),
    inset 0 0px 25px var(--shadow-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.profile-management-section {
  @include glassmorphic-background;
  padding: 20px 40px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 10px 0;
}

.form-group .input-group {
  margin: 0;
}

.input-group {
  text-align: left;
  margin: 10px 0;
}

input,
textarea {
  width: 100%;

  margin: 0.5rem auto;
  padding: 0.8rem;
  box-sizing: border-box;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;

  background-color: var(--input-field-color);
  color: var(--text-color);
}

textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

.save-button {
  width: 100%;

  margin: 1rem auto;
  padding: 15px;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;
  box-sizing: border-box;

  background-color: var(--background-color);
  color: var(--text-color);

  // font-size: 1.1rem;
}

.save-button:hover {
  background-color: var(--input-border-color);
  color: var(--background-color);

  cursor: pointer;
}

.success-message {
  color: green;
  margin: 2rem auto 0;
}

@media screen and (max-width: 768px) {
  .profile-management-section {
    padding: 10px 20px;
  }

  .form-group {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
