/* Profile Management Page Styles */

.profile-management-section {
    padding: 40px;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .change-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Styling for individual form groups */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  /* Place current password input on its own line */
  .form-group:first-child {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .form-group label {
    font-size: 1rem;
    color: var(--text-color);
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  input[type="password"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    max-width: 30%;
  }
  
  input[type="password"]:focus {
    outline: none;
    border-color: var(--primary-color);
  }
  
  /* Arrange new password and confirm password inputs side by side */
  .form-group:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .change-password-button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .change-password-button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
  }
  
  .success-message {
    color: green;
    font-size: 0.9rem;
  }
  
  @media screen and (max-width: 768px) {
    .profile-management-section {
      padding: 10px;
    }
  
    .form-group:first-child {
      flex-direction: column;
      gap: 10px;
    }
  
    .form-group:nth-child(2) {
      flex-direction: column;
    }
  
    .change-password-button {
      width: 100%;
    }
  }
