@use "../../styles/colors.scss";

form {
  display: flex;
  flex-direction: column;
}

.content-button {
  width: 100%;

  margin: 2rem auto;
  padding: 1rem;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;
  box-sizing: border-box;

  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 1.1rem;
}

.content-button:hover {
  background-color: var(--input-border-color);
  color: var(--background-color);

  cursor: pointer;
}

.content-input {
  width: 100%;

  padding: 0.8rem;
  box-sizing: border-box;

  font-size: large;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;

  background-color: var(--input-field-color);
  color: var(--text-color);
}

.text-editor {
  border-radius: 0 0 10px 10px;
}

.clear-button {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin: 5px 5px 20px auto;
  // Aligns the button to the right
}

textarea.content-input {
  min-height: 40vh;
  resize: vertical;
  margin-bottom: 2rem;
}

input[type="file"] {
  display: none;
}

.content-file-upload {
  width: 100%;

  margin: 100px auto;
  padding: 1rem;

  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 1px;
  box-sizing: border-box;

  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 1.1rem;
  cursor: pointer;
}

.content-file-upload:hover {
  background-color: var(--input-border-color);
  color: var(--background-color);

  cursor: pointer;
}
