.content-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 20px;
}

.spliter {
  height: 150px;
  width: 1px;
  background-color: var(--input-border-color);
}

.col-1 {
  width: 70%;
}

.col-2 {
  width: 30%;
}

.thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  background-color: var(--tile-color);
}

/* Common styles for the like and bookmark buttons */
.icon-container {
  display: inline-flex;
  justify-content: center;
  gap: 5px;
}

.icon-button {
  padding: 0;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: 1px; /* Space between icon and text */
}

/* Icon styles */
.icon {
  width: 16px; /* Match h-4 in Tailwind */
  height: 16px; /* Match w-4 in Tailwind */
  color: #7D7F7C; /* Default gray color */
}

.icon:hover{
  color: #c8c8c8;
}

.icon.liked {
  color: black; /* Black when liked */
}

.icon.bookmarked {
  color: black; /* Black when bookmarked */
}

.icon.deleting{
  color: #575555; // onclick, but held while the user confirms they want to delete or not.
  // classname should get removed if they cancel
}

.icon.counter {
  font-size: 12px; /* Small text */
  margin-top: 0; /* No extra spacing above */
  display: none; // same thing as the line below, just doesnt take space until it's visible
  //visibility: hidden; /* Default hidden */
}

.icon.counter.visible {
  display: inline; // same thing as the line below, but since i set display:none i need to undo that
  //visibility: visible; /* Visible when there's a count */
}

// media queries
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }
}
